html
{
	background-color: #f4f4f4;
	overflow-y: scroll;
}

body
{
	background-color: #f4f4f4;
}

/*body.hasMasthead
{
	margin-top: 50px;
}*/

body
{
	margin-top: 15px;
}

body.hasMasthead
{
	margin-top: 65px;
}

/*#page
{
	background-color: #fff;
}*/
.profile_button_wrapper
{
	display:block;
	padding:0;
	
	overflow: visible;
	
	position: relative;
	float: right;
	
	margin-top: 8px;
	margin-right: 15px;
	margin-bottom: 8px;
}
.profile_button,
.profile_button:focus,
.profile_button:hover,
.login_button,
.login_button:focus,
.login_button:hover {
	outline: none;
	
	color:#fff;
	
	height:32px;
	
	padding: 9px 10px;
	overflow: hidden;
	
	cursor: pointer;
	
	background:none;
	border:none;
	
	display:block;
	text-decoration:none;
	
	/*background-color: transparent;
	background-image: none;*/
	border: 1px solid transparent;
	border-radius: 4px;

	
	border-color: #333;
}

#btnProfileToggle:focus .profile_button,
#btnProfileToggle:hover .profile_button,
.login_button:focus,
.login_button:hover {
  background-color: #333;
}

.profile_button_badge
{
	pointer-events:none;
	margin-top: -30px;
	margin-left: 30px;
	position: relative;
}

.login_button
{
	line-height:100%;
}

.profile_button
{
	font-size:22px;
	width:42px;
}

.profile_panel
{
	width:272px;
}

.profile_popover
{
	left: -220px !important;
	z-index:1030;
}

.profile_popover .panel-footer
{
	overflow:hidden;
}

.profile_popover.popover.bottom>.arrow
{
	left: 240px !important;
}

.profile_popover-content
{
	padding:0;
}

.navbar-collapse {
	clear:both;
}
@media (min-width: 768px) {
	.navbar-collapse {
		clear:none;
	}
}
